# URL de conexión por Sockets hacia el Backend de NestJS
VITE_BACKEND_URL=http://localhost:3000

# Configuración del servidor TURN para atravesar NAT restrictivas
VITE_TURN_URL=turn:turn.soporgram.com:3478
VITE_TURN_USERNAME=tu_usuario_aqui
VITE_TURN_CREDENTIAL=tu_contraseña_aqui
